<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2><span class="light">BIG</span> PHOTO</h2>
            <p>Somos una compañia basada en la edición de fotografías en la mejor calidad de imagen existente en el mercado.</p>
            <p>Nos basamos en tomar fotografías a gran escala, compitiendo con las compañías mas grandes del mercado </p>
            <p>Promovemos el mejor uso de los recursos, ¡Tus ideas las hacemos tangibles e imborrables! </p>
        </div>
    </div>
</section>
