<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h6 class="brand-heading">BIG PHOTO</h6>
                    <p class="intro-text">Bienvenidos a nuestro blog de fotos.<br>Disfruten el recorrido.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
