<aside class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center"  style="margin-top: -60px !important; margin-bottom: 80px !important;">
        <h2>M.O Transportes & Turismo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 text-center" style="margin-left:-40px;">
        <h2 class="section-heading">Quienes Somos</h2>
        <hr class="light" style="max-width:100px; border-width:1px;">
        <p class="text-faded2"> Transporte de pasajeros pertrans limitada nace el a침o 2011, con el objetivo de ser una solucion
          y aporte permanente al desarrollo de nuestros clientes.
        </p>
        <%= image_tag("creative/minivan_empresa.png", class: "img-responsive") %>
      </div>
      <div class="col-lg-4 text-center">
        <h2 class="section-heading">Misi칩n</h2>
        <hr class="light" style="border-width:1px;">
        <p class="text-faded2"> Entregar un servicio de excelencia, mediante puntualidad,
          presentaci칩n y un equipo humano altamente calificado para lograr la plenitud de cada uno de nuestros pasajeros.
        </p>
      </div>
      <div class="col-lg-4 text-center">
        <h2 class="section-heading">Visi칩n</h2>
        <hr class="light" style="border-width:1px;">
        <p class="text-faded2"> Ser lideres en el mercado, marcar una traza importante en el tiempo, brindando confianza
          y estabilidad a nuestros clientes y colaboradores.
        </p>
      </div>
    </div>
  </div>
</aside>
