<header id="page-top">
  <div id="myCarousel">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <!-- Overlay -->
      <div class="overlay"></div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
        <li data-target="#bs-carousel" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
              <h1>M.O Transporte & Turismo</h1>
              <h3>10 años de experiencia en servicios de transporte y turismo</h3>
            </hgroup>
            <!--<button class="btn btn-hero btn-md" role="button"><%= fa_icon 'cog'%></button>-->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">
            <hgroup>
              <h1>Máximo confort</h1>
              <h3>Asientos reclinables y espaciosos</h3>
            </hgroup>
            <!--<button class="btn btn-hero btn-md" role="button"><%= fa_icon 'cog'%></button>-->
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">
            <hgroup>
              <h1>Tecnología de última gama</h1>
              <h3>GPS,Bluetooh para toda nuestra flota</h3>
            </hgroup>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-4"></div>
          <div class="hero">
            <hgroup>
              <h1>Turismo</h1>
              <h3>Viajamos a cualquier parte del territorio chileno</h3>
            </hgroup>
          </div>
        </div>
        <a  class="left carousel-control" style="color:#f39c12 !important; opacity: 1 !important;"data-slide="prev" href="#bs-carousel">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a  class="right carousel-control" style="color:#f39c12 !important; opacity: 1 !important;"data-slide="next" href="#bs-carousel">
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</header>
